@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

body{
  background-color: lightblue;
  font-family: "NTR", sans-serif; 
}

textarea{
  width: 400px;
  height: 100px;
  margin-top: 18%;
}

.withLeftPad {
  margin-left: 10%;
}

h1 {
  color: darkblue;
}

button {
  margin-top: 20px;
  margin-left: auto;
  mrgin-right: auto;

  color: white;
  background-color: darkblue;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.3rem;
}

button:hover {
  background-color: blue;
}
