@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

.source {
  text-decoration: underline;
  color: blue; 
  padding: 0;
}

.withRightPad { 
  margin-right: 15%;
}

.withLeftPad {
  margin-left: 10%;
}

.withSmallLeftPad {
  margin-left: 5%;
}

.withSmallTopPad {
  margin-top: 40px;
}

.container {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.fixed { 
  position: fixed; 
}

.toFront {
  z-index: 1000;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.underline:hover {
  color: lightsteelblue;
}

.middle { 
  margin-top: 15%;
}

header {
  position: relative;
  padding-left: 4rem;
  color: white;
  font-size: large;
}

.content{
  white-space: nowrap;
}

body{
  background-color: lightblue;
  font-family: "NTR", sans-serif; 
}

.wrapper {
  text-align: center;
  margin: auto;
}

.toRight {
    margin-left: auto;
}

button:hover {
    color: black;
    background-color: gold;
}